ultralytics
cv2
numpy >= 1.17
torch>=1.7
opencv_python
loguru
scikit-image
tqdm
torchvision>=0.10.0
Pillow
thop
ninja
tabulate
tensorboard
lap
motmetrics
filterpy
h5py
scipy >= 1.5
numba == 0.48
tensorflow < 2.0
cupy == 9.2
